body {
    background-color: #735DA5;
}

.scroll-to-top{
    position: fixed;
    width: 48px;
    height: 48px;
    font-size: 26px;
    cursor: pointer;
    bottom: 40px;
    right: 40px;
    background: #D3C5E5;
}